@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    .nav-ul .nav-li {
        margin: 0px 10px;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar,
    .main-content {
        width: 100%;
        margin: 10px 0px;
    }
}

@media only screen and (max-width:576px) {}