body{
    background: #f5f5f5;
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-card .card-img {
    margin: 0px auto;
    width: 160px;
}
.product-card .card-img img{
    border-radius: 10px;
}

.price {
    color: #e63946;
    font-size: 18px;
    font-weight: bold;
}
